body {
    font-family : Arial;
    background-image : url(../images/Background.jpg);
    background-size : cover;
    background-position : center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    
.introduction {
	display : grid;
	text-align : center;
	align-items : center;
	}
	
.introduction p {
	width : fit-content;
	margin : 10px auto;
	padding : 20px;
	border-radius : 40px;
	background-color : rgb( 255, 255, 255 );
	box-shadow : 10px 10px 10px rgba( 0, 0, 0, 0.5 );
	}
	
.content {
	display : flex;
	justify-content : center;
    margin : 10px center;
	}
	
.content .contentBox {
	display : grid;
	text-align : center;
	align-items : center;
	margin : 10px;
	padding : 30px;
	border-radius : 40px;
	backdrop-filter : blur( 3px );
	box-shadow : 10px 10px 10px rgba( 0, 0, 0, 0.5 );
	}
	
.content img {
	width : 50px;

	}


