body {
    font-family : Arial;
}

.wrap {
    padding-top : 20px;
    padding-bottom : 20px;
    padding-right : 50px;
    padding-left : 65px;

    display : flex;
    justify-content: center;
    width : fit-content;
    margin : 10px auto;

    border-radius : 40px;
    background-color: blue;
}

ol {
    padding-left : 0;
    margin-left : 0;
}